
#editor-holder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    background-color: #2F3129;
}

#editor {
    height: 100%;
}

#player {
    position: absolute;
    top: 0;
    right: 500px;
    left: 0;
    bottom: 0;
}

.numOfElements {
    width: 3em;
    display: inline-block;
    vertical-align: middle;
}

.label, .input {
    display: inline-block;
    vertical-align: middle;
}

.nav-item {
    color: #d1d1d1;
    transition: background-color 0.3s;
    border: none!important;
}

.nav-item:hover {
    color: ghostwhite;
    background-color: gray;
}

.nav-item.active {
    font-weight: bold;
}

.w-33 {
    width: 33%;
}

.pinned-bottom {
    position: absolute;
    bottom: 0;
}

.tab-content {
    height: calc(100% - 210px);
}